# Frontend
node_modules
.next
.git
.gitignore
npm-debug.log
README.md

# Backend
backend/__pycache__
backend/.pytest_cache
backend/venv
backend/.env
backend/static/uploads/*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
